.panel {
    border: 1px solid #ffffff;
    background: rgba(0,0,0,0.0);
    padding: 30px 20px;
    margin-top: 5vh;
    box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.75);
}

h2 {
    text-align: center;
}

::placeholder {
    font-style: italic;
}
