@model MvcAppMain.Models.UserDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .panel {
        border: 1px solid #ffffff;
        background: rgba(0,0,0,0.0);
        padding: 30px 20px;
        margin-top: 5vh;
        box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.75);
    }

    h2 {
        text-align: center;
    }

    placeholder {
        font-style: italic;
    }
</style>
<h2>Bạn Có Muốn Xóa Tài Khoản </h2>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal" style="padding-left:30px; ">
                            <dl class="dl-horizontal">
                                <dt>
                                   Tên Tài Khoản
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UserType.TypeName)
                                </dd>

                                <dt>
                                   Mật Khẩu
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Password)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <button type="button" onclick="window.location.href='@Url.Action("Index","UserDetails")'" class="btn btn-default">Quay Lại</button>
                                <input type="submit" value="Xác Nhận" class="btn btn-default" />

                            </div>
                            }
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
