@model IEnumerable<MvcAppMain.Models.CachDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Quản lý Cách dùng</h2>
<br />
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Cách dùng
        </div>
        <div class="card-body">
            <div class="row">
                <div style="margin-left:2em; margin-bottom:1em; font-weight:bold">
                    @using (Html.BeginForm("Create", "CachDungs", FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-primary" name="themmoi">THÊM MỚI</button>
                    }
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr style="text-align:center">
                            <th style="width:50%">Tên Cách dùng</th>
                            <th style="width:50%">Chức năng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr style="text-align:center">
                            <th style="width:50%">Tên Cách dùng</th>
                            <th style="width:50%">Chức năng</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TenCachDung</td>
                                <td style="text-align:center">
                                    @using (Html.BeginForm())
                                    {
                                        <button class="btn glyphicon glyphicon-info" style="width:120px;"> @Html.ActionLink("Xem chi tiết", "Details", new { id = item.ID_CachDung })</button>
                                        <button class="btn" style="width:120px;">@Html.ActionLink("Sửa", "Edit", new { id = item.ID_CachDung })</button>
                                        <button class="btn" style="width:120px;">@Html.ActionLink("Xóa", "Delete", new { id = item.ID_CachDung })</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>
